*{
    margin: 0;
    padding: 0;
}
#titulo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    margin-left: 7%;
}
#subtitulo{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    color: black;
    margin-left: 10%;
}
fieldset{
    border: 0;
}
body{
    background-color: #5f7ece;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    color:black;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}
input , select , button , textarea{
    border-radius: 20px;
}
.campo{
    margin-bottom: 1em;
}
.campo label{
    margin-bottom: 0.2em;
    color:rgb(0, 0, 0) ;
    display: block;
}
fieldset.grupo .campo{
    float: left;
    margin-right: 1em;
}
.campo input[type="text"] , .campo input[type="email"] , .campo select , .campo textarea{
    border: 1px solid;
    box-shadow: 2px 2px 2px rgb(61, 61, 232);
    padding: 0.2em;
    display: block;
}
.campo select option{
    padding-right: 1em;
}
#check{
    display: inline-block;
}
img{
    display: flex;
    align-items: center;
    width: 200px;
    
}
